::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    /* background: #262626; */
    background: #404040;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #7289da;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a0acd4;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(32, 32, 32);
    font-family: 'Karla', sans-serif;
    color: white;
}

.color {
    color: #F2E8E4;
}

.bigger {
    font-size: larger;
}

.small {
    font-size: 50%;
    
}