/*
 ©Xiler - Arthurdw
 Xiler is under a CC0-1.0 License (View the license here: https://legal.xiler.net/license)
 By proceeding to this site you agree with our ToS. (View the tos here: https://legal.xiler.net/tos)
*/

:root {
  --embed-color: #4f545c;
  --not-thumbnail: 1;
  --thumbnail: 0;
}

#EmbedGenerator {
  max-width: 1000px;
  margin: 100px auto 50px auto;
}

/* Preview */

h3 {
  color: var(--text-color);
  margin: 2px 0;
}

main {
  margin: 100px 50px 50px 50px;
}

a {
  color: #00b0f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#preview,
#inputs {
  position: relative;
}

#preview .preview-wrapper:hover {
  background-color: #32353b;
}

.message {
  width: calc(100% - 72px);
}

.discord-message-wrapper .message {
  /* position: absolute; */
  /* left: 72px;
  top: 4px; */
  margin: 4px 0 0 72px;
  /* height: 150px; */
}

.discord-message-wrapper img {
  position: absolute;
  left: 16px;
  top: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  flex: 0 0 auto;
}

.discord-message-wrapper img:hover {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.16));
  cursor: pointer;
}

.discord-message {
  font-family: "Open Sans", sans-serif;
  position: relative;
  color: #dcddde;
  overflow: auto;
  border-radius: 2px;
}

.discord-message,
.discord-message-wrapper {
  background-color: #36393e;
}

.discord-message-wrapper {
  position: relative;
  margin-top: 17px;
  width: 100%;
  min-height: 60px;
  /* height: 500px; */
}

.discord-message-wrapper:hover {
  background-color: #32353b;
}

.prev-data {
  cursor: default;
  flex: 0 0 auto;
  color: #fff;
  height: 28px;
}

.prev-data p.bot {
  display: flex;
  align-items: center;
  margin: 3px;
  float: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  vertical-align: baseline;
  position: relative;
}

.prev-data p.bot:hover {
  cursor: pointer;
  text-decoration: underline;
}

.message-content {
  position: relative;
  display: inline-block;
  /* position: absolute; */
  /* top: 25px; */
  /* height: fit-content; */
  padding-bottom: 10px;
  width: 95%;
}

.bot-tag {
  float: left;
  line-height: 0.9375rem;
  position: relative;
  font-weight: 500;
  outline: 0;
  text-transform: uppercase;
  white-space: break-spaces;
  background-color: #7289da;
  border-radius: 3px;
  font-size: 10px;
  padding: 1px 3px 1px 3px;
  margin: 5px 0 0 6px;
}

.bot-tag {
  cursor: text;
}

.no-embed {
  height: fit-content;
  white-space: pre-line;
  word-break: break-all;
  margin-bottom: 5px;
}

.description {
  /* min-height: 38px; */
  min-width: 34px;
  width: calc(100% - 80px);
  max-width: 516px;
  height: fit-content;
  white-space: pre-line;
  word-break: break-all;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.embed-color {
  float: left;
  /* width: 4px; */
  height: 100%;
  background-color: var(--embed-color);
  border-radius: 3px;
}

.embed-content {
  position: relative;
  float: left;
  /* min-height: 38px; */
  min-width: calc(34px * var(--not-thumbnail) + 512px * var(--thumbnail));
  min-height: calc(80px * var(--thumbnail));
  /* width: calc(100% - 4px); */
  padding: 8px 16px 16px 12px;
  height: 100%;
  background-color: #2f3136;
  border-radius: 0 3px 3px 0;
  margin: 0 0 0 4px;
}

.date {
  float: left;
  height: 22px;
  display: flex;
  align-items: flex-end;
  margin: 3px 3px 3px 10px;
  font-size: 12px;
  color: #72767d;
  cursor: default;
}

.author {
  position: relative;
  margin: 0 0 10px 0;
  padding: 0;
  width: calc(100% - 80px);
}

.author img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  border-radius: 50%;
  cursor: default;
  overflow: hidden;
  position: relative;
  margin: 0 24px 0 -19px;
  cursor: default;
  /* position: absolute; */
}

.author a {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  white-space: nowrap;
}

.author a:hover {
  text-decoration: underline;
}

.title {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.gray {
  color: #72767d;
}

.green {
  color: #859900;
}

.light-aqua {
  color: #2aa198;
}

.lightblue {
  color: #268bd2;
}

.orange-brown {
  color: #b58900;
}

.orange {
  color: #cb4b16;
}

.red {
  color: #dc322f;
}

.dark-blue {
  background: #073642;
}

.italic {
  font-style: italic;
}

.strike-through {
  text-decoration: line-through;
}

.strong {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.code-block {
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  white-space: pre-wrap;
  background-color: #2f3136;
  border: 1px solid #202225;
  border-radius: 4px;
  margin: 4px 0 4px 0 !important;
}

@media (min-width: 1100px) {
  .code-block {
    max-width: calc(90vw - 300px);
  }
}

@media (max-width: 400px) {
  main {
    width: calc(100vw - 20px);
    margin-left: 10px;
  }

  .embed-content,
  .code-block-wrapper {
    width: 130%;
  }
}

.code-block-wrapper {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #b9bbbe;
  background-color: #2f3136;
}

.code-block-in-embed {
  background-color: #202225;
}

.code-line {
  white-space: pre-wrap;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-indent: 0;
  border-radius: 3px;
  color: #b9bbbe;
  background-color: #202225;
  /* border: 0 2px 0 2px solid #202225; */
}

.footer {
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  position: relative;
  white-space: nowrap;
}

.footer img {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.footer img:hover {
  filter: none;
  cursor: default;
}

.footer p,
.footer span {
  position: relative;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}

.footer p span {
  margin: 0 4px;
}

.thumbnail {
  position: absolute !important;
  float: right !important;
  width: 80px !important;
  height: 80px !important;
  border-radius: 3px !important;
  margin: 0 !important;
  top: 0 !important;
  margin: 10px 10px 0 calc(516px - 76px) !important;
}

.image,
.thumbnail {
  display: block !important;
}

.image {
  position: relative !important;
  left: 0 !important;
  width: 354px !important;
  height: 300px !important;
  border-radius: 4px !important;
}

.thumbnail:hover,
.image:hover {
  filter: none !important;
}

/* Input */
#inputs {
  color: var(--text-color);
  margin: 10px 0;
}

#inputs h4,
#inputs h5 {
  margin: 2px 0;
}

#inputs textarea,
#inputs input {
  display: inline-block;
  width: 80%;
  min-width: 50%;
  min-height: 20px;
  max-width: 99%;
  max-height: 1000px;
  color: var(--text-color);
  background-color: var(--background-color-darker);
  border-radius: 3px;
  border: none;
  font-size: 16px;
  outline: none;
}

#embedTitle {
  width: calc(100% - 70px) !important;
  /* background-color: red !important; */
}

.title {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 80%;
  white-space: nowrap;
}

#inputs input,
#inputs textarea,
.title input,
.color-picker {
  margin: 2px 0;
}

.color-picker {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  #inputs textarea,
  #inputs input,
  .title {
    width: 100%;
  }
}

.fields {
  position: relative;
  max-width: 432px;
  overflow: hidden;
  height: fit-content;
}

.field {
  float: left;
  position: relative;
  margin-top: 5px;
  width: 100%;
  min-width: 129px;
}

.field h5 {
  font-weight: 600;
  margin: 0 0 2px 0;
  font-size: 0.875rem;
  line-height: 1.125rem;
  min-width: 0;
  unicode-bidi: plaintext;
  text-align: left;
  word-break: break-all;
}

.field {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  min-width: 0;
  unicode-bidi: plaintext;
  text-align: left;
  margin: 0;
  vertical-align: baseline;
  width: fit-content;
  white-space: pre-line;
  word-break: break-all;
}

.inline {
  /* width: 170px; */
  width: calc(100% / 3 - 15px);
  margin-right: 5px;
}

.fieldVote {
  display: flex;
  justify-self: start;
}

.field-props-wrapper {
  position: relative;
}

.field-props-wrapper button,
.fieldVote button {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--text-color); */
  fill: var(--text-color);
  outline: none;
  opacity: 0.8;
  transition: opacity 0.1s ease;
}

.field-props-wrapper button,
.fieldVote button:hover {
  cursor: pointer;
  opacity: 1;
}

.field-props-wrapper button,
.fieldVote button:active {
  border: 1px solid var(--text-color);
}

.fieldVote button:first-child {
  margin: 0 4px 0 0;
  background-color: rgba(25, 233, 18, 1);
}

.field-props-wrapper button,
.fieldVote button:nth-child(2) {
  background-color: rgba(255, 13, 13, 1);
}

.field-props-wrapper {
  margin: 5px 0;
  width: calc(100% - 80px);
}

.field-props-wrapper .check {
  position: absolute;
  min-width: 10px !important;
  width: 20px !important;
  margin: 2px !important;
}

.field-props-wrapper label {
  margin-left: 25px;
}
