/*
 ©Xiler - Arthurdw
 Xiler is under a CC0-1.0 License (View the license here: https://legal.xiler.net/license)
 By proceeding to this site you agree with our ToS. (View the tos here: https://legal.xiler.net/tos)
*/

footer {
  /* position: absolute; */
  position: static;
  user-select: none;
  /* top: calc(100% - 250px); */
  /* bottom: 0; */
  height: 250px;
  background-color: var(--background-color-very-dark);
  color: var(--text-color);
}

#copyright {
  position: static;
  height: 20px;
  /* width: 100vw; */
  /* position: absolute; */
  /* bottom: 15px; */
}

#copyright-container {
  /* margin: 0 auto; */
  position: absolute;
  left: calc(50vw - (179.88px / 2));
  height: 20px;
}

#copyright #copyright-container p {
  font-size: 15px;
  display: flex;
  align-items: center;
  float: left;
  margin: 0 0 0 5px;
}

#copyright #copyright-container p:nth-child(3) {
  font-weight: bold;
}

#copyright #copyright-container img {
  width: 20px;
  height: 20px;
  float: left;
  overflow: hidden;
  user-select: none;
}

#footer-container {
  display: block;
  /* position: absolute; */
  /* bottom: 250px; */
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  height: 200px;
}

.footer-section {
  float: left;
  width: 150px;
  padding: 25px;
  margin-bottom: 50px;
  height: 150px;
}

.footer-section h2 {
  font-size: 20px;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

.footer-section ul li a:hover {
  color: var(--accent-color-light);
}

.website-theme {
  outline: none;
  margin-top: 5px;
  border: 0;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.05s ease-in-out;
  color: var(--background-color-very-dark);
  background-color: var(--text-color);
}

.website-theme:hover {
  cursor: pointer;
  background-color: var(--accent-color-light);
}

@media (max-width: 850px) {
  footer {
    height: 450px;
  }

  #footer-container {
    height: 400px;
  }

  .footer-section {
    width: calc(50vw - 60px);
    margin: 0;
  }
}
