/*
 ©Xiler - Arthurdw
 Xiler is under a CC0-1.0 License (View the license here: https://legal.xiler.net/license)
 By proceeding to this site you agree with our ToS. (View the tos here: https://legal.xiler.net/tos)
*/
#HomePage {
  color: var(--text-color);
  text-align: center;
  position: relative;
  width: 100%;
  margin: 80px 0 70px 0;
}

/* Intro */
#intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  max-height: 500px;
  color: rgb(220, 220, 221);
}

#intro .intro-wrapper {
  margin: 0;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

#intro .intro-wrapper h1 {
  margin: 0 auto 30px auto;
}

#intro .intro-wrapper p {
  margin: 0 auto;
}

#intro .intro-wrapper p,
#intro .intro-wrapper h1 {
  max-width: 650px;
  width: 75vw;
}

#intro .intro-background {
  background-color: rgb(20, 20, 21);
  background-image: linear-gradient(
    to bottom left,
    var(--accent-color-very-light),
    var(--accent-color)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
  overflow: hidden;
}

.senders {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.senders a {
  user-select: none;
  color: rgb(70, 73, 76);
  background-color: rgb(220, 220, 221);
  margin: 15px 5px 15px 5px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.05s ease-in-out;
}

.senders a:hover {
  margin: 17px 5px 12px 5px;
  color: var(--accent-color-light);
}

.senders a:active {
  margin: 12px 2px 12px 2px;
  border: 3px solid var(--text-color-second);
}

.intro-bli,
.intro-tri {
  user-select: none;
  position: absolute;
  height: 50vh;
  max-height: 450px;
  transform: rotate(-90deg) scaleX(-1);
  opacity: 0.15;
}

.intro-bli {
  bottom: 0;
  transform: rotate(180deg);
  animation: slideInLeft 1s;
  left: 0;
}

.intro-tri {
  top: 0;
  animation: slideInRight 1s;
  right: 0;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    left: -450px;
  } 
  to {
    opacity: 0.15;
    left: 0;
  }
}

@keyframes slideInRight {
  from {
    right: -450px;
  } 
  to {
    right: 0;
  }
}

@media (max-width: 400px) {
  .intro-bli,
  .intro-tri {
    display: none;
  }

  .intro-wrapper {
    position: absolute;
    top: 0;
    /* height: calc(100vh - 80px); */
  }
}

/* General sections: */
.section {
  position: relative;
  width: 80vw;
  max-width: 800px;
  margin: 50px auto;
}

.section .background:hover {
  background-color: yellow;
}

.section img {
  height: 300px;
  width: 300px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.16));
  transition: all 0.2s ease;
  overflow: hidden;
  user-select: none;
  animation: slideSectionLeft 1s;
}

@keyframes slideSectionLeft {
  from {
    margin-left: -50vw;
  }
  to {
    margin-left: 0;
  }
}

.section img:hover {
  filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.16));
}

.section .section-content {
  margin: 10px 0 0 0;
}

.section .section-content a {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.section .section-content a:hover {
  text-decoration: none;
}

@media (min-width: 750px) {
  .section {
    display: flex;
    align-items: center;
  }

  .section .section-content {
    margin: 0;
    width: calc(80vw - 300px);
    max-width: 500px;
  }
}
